<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <script>
      const ROOM_ID = "<%= roomId %>"
   </script>
   
    <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="oldscript.js" defer></script>
   <style>
      #video-grid{
         display: flex;
         justify-content: center;
         flex-direction: column;
         gap: 30px;
         flex-wrap: wrap;
      }
      video{
         height: 300px;
         width: 400px;
         object-fit: cover;
         padding: 8px;
      }
   </style>
</head>
<body>
   <div id="video-grid"></div>
   <button id="mute">Mute Audio</button>
   <button id="stop">Stop Video</button>
   <ul id="users">
      <li >USers</li>
   </ul>
 </body>
</html>